[2014-10-05 19:57] jezdez opened #1 "Move tests into repo root"

[2014-10-05 19:57] jezdez opened #2 "Add various packaging files"

[2014-10-05 19:58] jezdez opened #3 "Port documentation"

[2014-10-05 19:58] jezdez opened #4 "Modify Django docs"

[2014-10-05 19:58] jezdez opened #5 "Make PyPI release"

[2014-10-05 19:59] jezdez opened #6 "Setup Coveralls"

[2014-10-05 19:59] jezdez opened #7 "Setup Travis"

[2014-10-05 19:59] jezdez opened #8 "Add volunteers to GitHub team"
This should also include writing an email to them.

[2014-10-05 20:00] jezdez opened #9 "Write mail to -developers and -users"
To make sure everyone knows about the split-off.

[2014-10-05 20:00] jezdez opened #10 "Setup Transifex"

[2014-10-05 20:01] jezdez opened #11 "Sanity check by someone from -core"

[2014-10-05 20:02] jezdez opened #12 "Mark some more strings for translation"
And update the base translation catalog.

[2014-10-05 20:06] jezdez opened #13 "Setup ReadTheDocs"

[2014-10-05 20:10] #12 closed, assigned to jezdez

[2014-10-05 20:11] #1 closed, assigned to jezdez

[2014-10-05 20:11] #2 closed, assigned to jezdez

[2014-10-05 20:12] #7 closed, assigned to jezdez

[2014-10-05 20:12] #13 closed, assigned to jezdez

[2014-10-05 20:37] #6 closed, assigned to jezdez

[2014-10-06 19:37] #10 closed, assigned to jezdez

[2014-10-06 20:18] #3 closed, assigned to jezdez

[2014-10-17 20:28] #8 closed, assigned to jezdez

[2014-10-18 19:21] jezdez opened #14 "Move Trac tickets to GitHub issues"

[2014-10-18 19:36] gchp opened #15 "FormWizards leak data into other forms"
This issue was originally submitted on [Trac (#22899)](https://code.djangoproject.com/ticket/22800). I've added some snippets from the original ticket below, see the link above for the full conversation.

...

...

[2014-10-18 19:48] gchp opened #16 "Allow dynamic form classes with WizardView"
This issue was originally submitted on [Trac (#21667)](https://code.djangoproject.com/ticket/21667). I've added some snippets from the original ticket below, see the link above for the full conversation.

---

The WizardView does not currently support dynamic form classes without overriding the entire get_form method.

My mixin below demonstrates an easy way to make this convenient. I needed this

[2014-10-18 19:53] gchp opened #17 "FormWizard needs confirmation step logic"
This issue was originally submitted on [Trac (#21644)](https://code.djangoproject.com/ticket/21644). I've added some snippets from the original ticket below, see the link above for the full conversation.

---

The FormWizard needs to handle a confirmation step that is capable of easily outputting a readonly copy of all step data. It is currently very difficult to support a confirmation step in the

[2014-10-20 12:31] gchp opened #18 "Pass request object to WizardView.get_prefix"
This issue was originally submitted on [Trac (#19981)](https://code.djangoproject.com/ticket/19981).

---

There was a pull request added for this issue, though it lacked tests and some documentation: django/django#879

Below is part of the description from the Trac ticket;

---

The pull request for this ticket simply adds the request parameter to this method. As noted in the original ticket, bei

[2014-10-20 12:57] gchp opened #19 "Class based view update for FormPreview"
This issue was originally submitted on [Trac (#16174)](https://code.djangoproject.com/ticket/16174). Please see that ticket for the original conversation.

**NOTE:** There are a few patches attached to the Trac ticket which may be useful.

---

I used the FormPreview class in `formtools.preview` for the first time this week. After working with class based views for a while, I really missed methods

[2014-10-20 17:57] gchp opened #20 "ValidationError in form wizard with formsets"
This issue was originally submitted on [Trac (#20116)](https://code.djangoproject.com/ticket/20116).  See the previous link for the full conversation, and a link to an initial fix.

---

I encountered an issue with the form wizard when the first step is a formset and the user resends a later step after completing the wizard.

Scenario:
- Complete the wizard successfully
- Hit the browser back butt

[2014-10-20 18:05] gchp opened #21 "FormWizard validates the last form twice"
This issue was originally submitted on [Trac (#10810)](https://code.djangoproject.com/ticket/10810). See the previous link for the full conversation. Below is the original description:

---

FormWizard revalidates all the forms on the last step, after validating the last form. So the last one gets validated twice on the same request. In my app I have captcha on the last form and it does not work w

[2014-10-20 18:13] gchp opened #22 "FormPreview should pass request object to parse_params"
This issue was originally submitted on [Trac (#8690)](https://code.djangoproject.com/ticket/8690). See the previous link for the full conversation. Below is the original description:

---

It would be very useful to have request data in `parse_params`. The example given is to capture something like a `user_id`, but the main thing I would want to do here is to verify that the current user has permi

[2014-10-20 18:20] gchp opened #23 "Form Preview does not work with file uploads"
This issue was originally submitted on [Trac (#7808)](https://code.djangoproject.com/ticket/7808). See the previous link for the full conversation. Below is the original description:

---

There seems to be no way to bind a form to a Form Preview (using request.FILES)...
i tried ignoring the specific warning not to override in preview.py and tried to override the `preview_post()` method but this d

[2014-10-20 18:25] gchp opened #24 "Formpreview doesn't support newform's dynamic initial values"
This issue was originally submitted on [Trac (#4363)](https://code.djangoproject.com/ticket/4363). See the previous link for the full conversation. Below is the original description:

---

The formpreview has no hook for dynamic initial field values. The attached patch (**see above link**) provides this hook.

[2014-10-22 13:11] thenewguy opened #25 "Set up google group"
Not sure if there is enough action to warrant it, but I find it easier to follow discussions and coordination on a discussion board like google groups.  Any objections or opinions?

[2014-11-03 20:56] #25 closed, assigned to nobody

[2014-11-21 00:15] timgraham opened #26 ""contributing tools" documentation seems to be copied from localflavor"
I am not sure it's relevant to formtools:
http://django-formtools.readthedocs.org/en/latest/#contributing-tools

[2014-11-21 00:20] timgraham opened #27 "Add more details about Django version suport"
Docs currently say "the app is required to be working with the actively maintained Django versions." Does this mean formtools must support multiple versions of Django? Maybe the plan isn't known at this time, but more details should be added at some point. I see Travis is currently running with master and 1.7

[2014-11-21 08:28] #26 closed, assigned to nobody

[2014-11-21 14:45] #27 closed, assigned to nobody

[2014-11-21 17:04] timgraham opened #28 "Document how to run the tests"
Not sure if there's a bug or if it's me.

[code]

[2014-11-21 17:09] timgraham opened #29 "Should setup.py have a dependency on Django?"
Presumably with a version range specifier.

[2014-11-21 20:31] #28 closed, assigned to nobody

[2014-11-26 15:04] timgraham opened #30 "Random test failure: TestCookieStorage.test_reset_cookie"
Originally reported in [#23792](https://code.djangoproject.com/ticket/23792). Should we use the `freeze_time()` contextmanager proposed there? If so, it seems we'll have to drop compatibility with Django 1.7.

[2014-11-26 19:07] #4 closed, assigned to jezdez

[2014-11-26 20:32] #29 closed, assigned to nobody

[2014-11-26 20:35] #11 closed, assigned to jezdez

[2014-12-12 19:46] timgraham opened #32 "Missing documentation for FormPreview methods"
The FormPreview class has a lot of methods that enable user's to modify it's default behavior. Most of these methods are not documented. (see [#14748](https://code.djangoproject.com/ticket/14748) for more discussion).

[2014-12-12 20:23] #32 closed, assigned to nobody

[2014-12-13 19:36] dcramer opened #33 "Support FormWizard without the base view"
A common paradigm we're using while refactoring Sentry is inheriting from various base View classes. This is specifically to enforce authorization and acls. FormWizard provides a lot of nice behaviors, but it requires you to inherit from Django's CBVs. It'd be nice if FormWizard was a helper that wasn't bound to View behavior. Generally all of the generic Django CBVs have this issue, but FormWizar

[2015-01-07 15:16] #18 closed

[2015-02-16 18:41] luzfcb commented on #17
@thenewguy django-formtools has moved to outside of django contribs, in this separate repository.
this issue is still relevant to you?

[2015-02-17 01:47] thenewguy commented on #17
@luzfcb This is relevant to me but work has currently taken me in a different direction and I haven't been able to swing back around to this yet unfortunately.

[2015-02-20 13:30] codingisacopingstrategy opened #38 "Formtools chokes when ‘current_step’ has unexpected value"
Hello,

I tested in 1.6 but it looks like this behaviour is still the same:
https://github.com/django/django-formtools/blob/master/formtools/wizard/views.py#L408

A user has been tampering with the `current_step` part of a POST request that is part of a the Django Form Wizard. The current step should be something like ‘request-sim’ but the user changes it to ‘-’. Formtools does not seems to check

[2015-03-13 10:46] gchp commented on #30
@timgraham @jezdez Is this still an issue? I don't see anywhere in the formtools tests that could use the freeze_time context manager. I also don't see any failing tests and the link inside the trac issue is broken so I can't see what test was failing originally.

[2015-03-13 12:21] timgraham commented on #30
I don't think anything has been done to fix it, but I don't mind if you close this until the next time the failure happens.

[2015-03-13 12:43] gchp commented on #30
Cheers @timgraham. I'll close for now, and re-open should it crop up again.

[2015-03-13 12:43] #30 closed

[2015-03-16 21:10] jannh commented on #5
Is there any progress on this issue? Django 1.8 is approaching fast and I guess it is important for a lot of people to have a PyPI - package with the formtools...

[2015-03-17 14:10] timgraham commented on #5
@jezdez will try to do it this week.

[2015-03-20 12:42] gchp commented on #24
It seems that this functionality is already present. See here: https://github.com/django/django-formtools/blob/master/formtools/preview.py#L55

Closing as obsolete.

[2015-03-20 12:42] #24 closed

[2015-03-24 00:37] gchp commented on #21
An interesting comment from the Trac discussion:

I think this is a good point. The case given here is that the validation is failing because this user's case had a captcha in the last form. However, should the captcha have been in any of the other forms, it would have failed too. I like the suggestion of allowing certain forms to skip the final validation better than just skipping the re-validati

[2015-03-25 13:35] jezdez commented on #5
Actually this week, sorry for the delay.

[2015-03-29 17:47] jannh commented on #19
Probably this is of interest for you. I wrote a Mixin which adds the preview functionality to the default Django-CBVs. Maybe something like this could additionally (or instead the current preview) be included into the formtools? I put the mixin on django-snippets just a few minutes ago: https://djangosnippets.org/snippets/10475/

[2015-04-17 07:17] gitfred opened #42 "Some of the files submitted using formsets are missing"
Occured when using formset which contains few instances of the same form class (with file fields) in a single step.
It's caused by `MultiValueDict.__getitem__` method which returns only last element of values list:
https://github.com/django/django/blob/master/django/utils/datastructures.py#L84

For example:
In one single step we have 3 instances of form which contains file field - and only the fil

[2015-04-23 07:04] frague59 opened #43 "modelform and formset in a wizard : bind model instance in the form"
Hi,

Im using a wizard to create an `Manifestation` item, which have `Representation`.

in models.py :

    class Manifestation(models.Model):
        ... fields ...

    class Representation(models.Model):
        manifestation = models.ForeignKey('myapp.Manifestation')

in views.py :

    class ManifestationCreateWizardView(SessionWizardView):
        #: form names
        INITIALIZATION = 'init

[2015-05-12 04:08] lindsay-stevens-kirby opened #44 "wizard NamedUrlWizardView post method is redundant?"
The wizard NamedUrlWizardView inherits from WizardView.

This is all the code in [NamedUrlWizardView post method override](https://github.com/django/django-formtools/blob/master/formtools/wizard/views.py#L678):
[code]

This is the code at the start of [WizardView post method](https://github.com/django/django-formtools/blob/master/formtools/wizard/views.py#L257):

[code]

Is there any reason for th

[2015-05-15 01:57] rogueleaderr opened #45 "Forms with CookieWizardView fail silently if forms are too large"
I was having a strange bug where I could go all the way through my wizard with no validation errors, but then when hitting the final submit I'd be taken back to an earlier step (now blank) with no validation errors. And looking inside `render_revalidation_failure` I could see that the form was now unbound.

I eventually figured out that the problem was that cookies have a maximum length (around 40

[2015-06-05 13:22] #22 closed

[2015-06-16 09:50] thedrow commented on #5
@jezdez 1.0.0 is [released](https://pypi.python.org/pypi/django-formtools). Should this issue be closed?

[2015-06-16 09:56] jezdez commented on #5
Ah, yeah.

[2015-06-16 09:56] #5 closed

[2015-07-24 19:12] thenewguy commented on #16
Should forms that are swapped out dynamically be provided in the initial wizard definition as None?  This makes sense to me, but it will require some other changes.  For example, https://github.com/django/django-formtools/blob/master/formtools/wizard/views.py#L178 errors out if None is passed for the form.

Something like:
[code]

If we allow None as a placeholder, then we can't guarantee this che

[2015-08-03 20:36] ad-m commented on #9
Any ideas? Who can prepare this letters? How often?

Now seriously - to close?

[2015-08-05 02:33] thenewguy opened #50 "Add validation step for interdependent forms in WizardView render_done method"
WizardView is currently missing a validation step for interdependent form data.  Forms are only validated individually.

I see two ways to make this happen in a backwards compatible manner:

1) Add an additional method which is passed all validated forms.  It has the opportunity to set something analogous to a form's NON_FIELD_ERRORS and redirect the user to a specific step.  It should be called i

[2015-10-25 09:58] #42 closed

[2015-10-30 08:59] stefanfoulis opened #52 "remove the Django>=1.7 dependency in setup.py"
Obviously only if the package actually works with Django 1.6.

The reason being that we maintain a package that still supports Django 1.6 (django-cms 3.2.x). So for 1.7+ we add a dependency to django-formtools. Unfortunately it is not possible to conditionally install a dependency, only if a certain version of a other package is present. So even if our package is used in a Django 1.6.x Project we

[2015-11-04 23:16] dbinetti commented on #17
This issue is relevant to me.  Was trying to get this accomplished in the `done()` method until I saw this.

Validating the wizard as a whole strikes me as a fairly common use-case.  I am not qualified to write a patch but am happy to help with documentation or any other place if this issue is taken back up.

thanks @luzfcb @thenewguy @gchp @jezdez for your work on this...

[2015-11-10 23:53] schinckel commented on #17
My solution was to have a ConfirmationForm, which is used as a step. This then requires pulling in all of the previous steps cleaned data for rendering.

[2015-12-23 17:18] neokeats opened #54 "Multiple calls to clean method"
Hi,

i used forms tools to import data,
first step it's a form that expect a file and some informations
the second is a form that display what is going to be imported with checkboxes to confirm which one we want.
then the user confirms the import.
Everything works but while debugging if i set a breakpoint in the clean method of the last form i noticed that that it's called 5 times at least...
Anyo

[2015-12-30 18:07] holyoaks opened #55 "Question?"
I asked this at https://groups.google.com/forum/#!searchin/django-users/formtools/django-users/YA4x3qQPGQA/WNkLWVPQCAAJ but never received an answer. I don't know if this is the right place to ask this, but here goes.

I'm wondering if I can use django-formtools to accomplish what I want to. I have a License object, with a one to many relationship to LicenseArea. The number of LicenseArea objects

[2016-01-22 10:24] timmyomahony opened #57 "NamedUrlWizardView ignores class attributes when initialising"
I've noticed that when using the `NamedUrlWizardView`, you *have* to pass certain things through the `as_view()` method (namely `url_name ` and `done_step_name`):

[code]

This is unlike the regular `WizardView`, which checks the class if it can't find the attributes in the `kwargs` passed to `as_view` (notice the `getattr(cls, 'var_name', None)`):

[code]

I think that the `kwargs`should be avail

[2016-02-15 17:03] clopezcapo opened #58 "Enhancement for MultiFileField"
Update set_step_files() to handle **MultiFileField** (https://github.com/Cyberic/django-multifilefield):
`<MultiValueDict: {'attachment': [<InMemoryUploadedFile: file1.txt (text/plain)>, <InMemoryUploadedFile: file2.txt (text/plain)>]}>`

[code]

[2016-02-16 11:01] #58 closed

[2016-02-20 17:47] sevesalm opened #59 "WizardView.done() uses render_to_response() which might get deprecated in the future"
WizardView.done() uses the function render_to_response(), instead of the newer render() function:

https://docs.djangoproject.com/en/1.9/topics/http/shortcuts/#render
https://docs.djangoproject.com/en/1.9/topics/http/shortcuts/#render-to-response

Not presently a show stopper but might be in the future.

[2016-03-22 08:27] dbrgn opened #61 "Error handling in done()"
Is there a way to handle errors in `done()` so that the form data in the storage is not cleared?

If the processing fails, I want to offer the user a possibility to re-process the data without having to re-fill the entire form.

[2016-03-22 08:40] dbrgn commented on #61
If I'm reading the source code correctly, a way to do this would be to catch `ValidationError`s (or something like that) in the `render_done` method and render an error page containing that message. The template name of that error page could be specified as an instance attribute.

[2016-03-28 21:22] smwise commented on #23
Is there still interest in incorporating this? I got this working with django-file-resubmit (https://github.com/un1t/django-file-resubmit), intended for the use case of redisplaying a form upon errors. Basically it just caches the file submission, which I believe was the approach that someone suggested at the end of the original ticket. On the form preview side, it took some customization in previ

[2016-04-03 07:12] juanpex commented on #45
:+1:  I have the same error and lost several hours with this issue :/

[2016-05-10 15:06] timgraham commented on #55
No, this is a bug tracker not a support channel.

[2016-05-10 15:06] #55 closed

[2016-05-28 14:34] timgraham commented on #52
Sorry, but I don't think we're going to spend any time testing the package with Django 1.6 which is obsolete by now.

[2016-05-28 14:34] #52 closed

[2016-07-29 12:31] emorozov opened #71 "Doesn't work with formsets"
Hello,
I use a simple formset:
[code]
With the `NamesUrlSessionWizardView`.

When I get to the step using a formset, I get an exception:
[code]

It looks like this is really ancient error that was "fixed" at least two times. But it still doesn't work. :(

[2016-07-29 13:03] emorozov commented on #71
Ah, sorry, it seems that this happens because I pass initial values to the forms by overriding `get_form_initial`.

I think this shouldn't cause exception anyway, but now I'm not sure.

[2016-07-30 09:34] emorozov commented on #71
Yes, exception is indeed caused by passing initial data to the form in the `get_form_initial` method.
Closing the issue as this probably my mistake or a weak spot in the documentation, not a bug.

[2016-07-30 09:34] #71 closed

[2016-08-02 14:02] vstoykov commented on #21
We now have the same issue but we need to put the captcha on the first step.

As a workaround we will try to dynamically delete captcha field in `get_form` method if the form was already valid (there are data in the storage). If this works then generic solution can be made where you configure in which form which fields must be validated only once and then the wizard will automatically delete them

[2016-08-12 22:27] kulgan opened #73 "Having multiple formsets on a page leads to all of them using the same Management Form"
I need two Formsets on the same page

[code]
I had to explicitly do the following to avoid ManagmentForm errors
[code]

But they both generate the exact same sort of Management Form hidden field. Whenever I manipulated the TOTAL-FIELDS with Javascript, both forms get updated, which is clearly not what I wanted. After digging through the code I extended the get_form_prefix method to look like this

[2016-08-13 08:36] #9 closed

[2016-08-13 08:46] claudep commented on #59
Thanks for the report, fixed in 46b6839fb0063fa10ffb896ce80f7155ca7a9f6e

[2016-08-13 08:46] #59 closed

[2016-08-14 02:49] kulgan commented on #73
Wrong github project https://github.com/vikingco/django-formtools-addons

[2016-08-14 02:49] #73 closed

[2016-08-23 16:48] ad-m opened #75 "PyPI release for django 1.10 compatibility"
Hello,

I would like about new PyPI releases of django-formtools. Django 1.10 was released. 46b6839fb0063fa10ffb896ce80f7155ca7a9f6e contains fix for django 1.10 compatibility (below are stacktrace without that). 54f1ccca01e1a2d2062ad76af9c559723edd435c proves that django-formtools is django 1.10 compatibile. I think is good to release django-1.10-compatible version of django-formtools.

[code]

[2016-09-15 12:06] alxs opened #77 "Admin support"
This is a feature request basically just to start a conversation on the matter.

Especially with the new admin look, the admin is ideal for simple (or not) data entry. I think that having `django-formtools` available in the admin would provide some much needed logic and customization potential for developers.

Even though the last time I meddled with the admin I found it a troubling procedure, I t

[2016-09-19 15:38] wkatsak opened #78 "Missing base.html"
Hello,

Maybe I am missing something, but the FormPreview templates are trying to extend "base.html" which is nowhere to be found in the repo. I've tried to run the basic FormPreview example from the docs, and it doesn't work because of this.

Am I supposed to provide a base.html somehow?

Thanks,
Bill

[2016-09-22 10:50] globophobe commented on #77
You just need to override the get_urls method of the model admin.

[2016-09-23 13:40] darshanime opened #79 "self.form_list returns inconsistent results"
I am using `self.form_list` to implement form flow logic and it seems that the values of `self.form_list` in `process_step` is inconsistent. There are always a variable number of forms in the `OrderedDict`.

[2016-09-28 12:54] jedie commented on #77
Yes, you can override the get_urls method... But it seems that you have to do many things to integrate a wizard in the admin views, so that it looks like a normal admin view.

[2016-09-28 13:43] globophobe commented on #77
Yes, I agree. In particular, I didn't enjoy rendering the formwizard as an action. Also, manually setting the RelatedFieldWidgetWrapper was not fun. Too many hacks were needed. What might be the best way?

[2016-09-29 13:52] jedie opened #80 "Easy was to skip step without hacks..."
I have something like this:
[code]

The first step of the wizard is to select a language and the second step used the language for setup the form. That works fine.

Now, i would like to optional skip the first step, if a url like: "/my_wizard?language=XY" is used.

It seems, that this is not easy doable, isn't it?!?

[2016-09-30 13:55] mlorant commented on #80
Haven't tried but something like:

[code]

is not working? (It might mess up the next steps though, once the URL changes so you might something else)

[2016-09-30 16:52] jedie commented on #80
Yes, the skip can be done in this way...

The problem is: I i must change code parts if the first form was skipped... The problem is to fill the information to the internal state, so that the code for the second step can work in the same way...

[2016-09-30 17:04] mlorant commented on #80
Yeah, I understand... You could probably tweak around with the [`extra_data` attribute in the storage](https://github.com/django/django-formtools/blob/master/formtools/wizard/storage/base.py#L54), by overriding the `get` method of `WizardView`, BUT you can't really use `super()` in this case since the first action done in the inherited `get` will be `self.storage.reset()`, erasing your data.

You

[2016-09-30 17:13] jedie commented on #80
Yes, i currently use also some dirty things to get this working... So i think there should be exist a good way in formtools.

[2016-10-19 07:01] colegleason opened #82 "Is there a way to redirect to a step and resume in the middle of a form?"
As part of my Wizard I have a registration step, but I want to allow users to login if they just forgot to sign in before starting the wizard. How can I set the `?next=` param on the login link such that it will return to the form and pick up at the step we left off at (essentially the step after register/login)?

[2016-10-21 13:05] koopg commented on #82
+1

[2016-11-05 11:46] adamchainz opened #83 "Github docs link"
It should really be https://django-formtools.readthedocs.io/ so it's served over HTTPS 😉

[2016-11-05 11:49] adamchainz opened #84 "Remove usage of undocumented django.utils.function.lazy_property"
Whilst looking through Django core, I saw that the `lazy_property` function was unused and undocumented, so by Django's policies it can be removed. However I found that formtools relies on it from its last use in a commit, the removal of formtools:
django/django@14a3b60981f63334520c713bb3a2c9c694c49a1f

I'm not sure of the correct way forward here but perhaps it should just be documented in Django

[2016-11-17 22:35] clemenbor commented on #75
Is there going to be a release of django-formtools for django 1.10 before April 2017? (the expected end of extended support for Django 1.9)

[2016-11-28 23:36] timgraham commented on #84
It would be nice to see what the documentation looks like (it's difficult for me to understand the use case at a quick glance) and to check if the property is useful anywhere in Django. A quick [GitHub search](https://github.com/search?&q=django+lazy_property&ref=searchresults&type=Code&utf8=%E2%9C%93) only revealed users who committed their virtual environment and the Django test suite.

[2016-11-28 23:37] timgraham commented on #83
Updated, thanks.

[2016-11-28 23:37] #83 closed

[2016-11-28 23:46] timgraham commented on #75
It seems like this package may be unmaintained (certainly undermaintained anyway). A put out a [call for maintainers](https://groups.google.com/d/topic/django-developers/3L2BzvLCIR4/discussion) to decide its fate.

[2016-11-29 09:10] adamchainz commented on #84
The docstring for `lazy_property` pretty much explains it: https://github.com/django/django/blob/master/django/utils/functional.py#L415

I think it would be easy to remove here, replacing with just:

[code]

Arguably this is clearer too as there isn't a new 'lazy property' concept when reading the code, it's just good ol' plain properties. Then it could be removed from django core.

[2016-11-29 12:35] timgraham commented on #84
The only thought I have is that `@property`'s getter, setter, and deleter attributes were added in Python 2.6 and this code was added when Python 2.5 was supported, so maybe this workaround was required at the time but isn't needed now. I'm fine with your plan if it works.

[2016-11-29 13:51] adamchainz commented on #84
I think `lazy_property` was also designed to avoid a bit of boilerplate, but it's probably preferable to have that boilerplate twice in `django-formtools` than document it since this is the only place using it.

[2016-11-30 00:34] #84 closed

[2016-12-21 14:40] carpincho commented on #75
😢

[2016-12-29 15:09] lingxiaoyang opened #90 "URL translation in NamedUrlWizardView (i18n)"
Hello there,

I was developing a bilingual app and was trying to find a way of using translated step names in URL. I didn't find a solution either by browsing the code/doc or by asking #django IRC. I ended up in inheriting the view class as below:

[code]

while in `urls.py`, I explicitly assigned i18n url names:

[code]

Is it a good solution? If so, could you please consider adding this feature?

[2017-01-04 23:02] timgraham commented on #75
I'll try to do a release if I can get access to the PyPI record. I pinged the owner (jezdez) in #django-dev about it.

[2017-01-07 21:04] timgraham commented on #75
django-formtools 2.0 is available on PyPI.

[2017-01-07 21:04] #75 closed

[2017-01-19 05:54] auvipy commented on #78
as far I know base.html is your project base template?

[2017-01-23 10:31] eriktelepovsky commented on #58
+1 for this. It doesn't have to be django-multifilefield necessarily. Just create a regular multiple file form field like this:

[code]

You will see the default BaseStorage won't handle multiple files.

[2017-01-23 12:58] eriktelepovsky commented on #42
Thank you @gitfred for this. I was working on support for handling multiple file input fields and this helped me a lot.

[2017-02-23 10:14] jbinary commented on #19
So why is this one abandoned?

I think that the current implementation is actually a dangerous one because it's not thread safe storing the state in the instance while the instance is the same for all the request to a view?

[2017-03-10 08:30] auvipy commented on #19
there wasn't any contributor to complete it

[2017-03-31 00:53] edgaru opened #95 "Conditionally views and wizard.steps.current maximum recursion depth exceeded"
When I use wizard.steps.current into a conditionally function I get maximum recursion depth exceeded.

Code Example:
[code]

Traceback:
[code]

[2017-03-31 01:59] edgaru commented on #95
I solved it using wizard.storage.current_step instead wizard.steps.current.

[2017-05-02 17:28] c-charles1 commented on #58
Does a similar change need to be made for get_step_files()? I made the above change but am only getting a single file back in my view.

[2017-05-12 20:37] c-charles1 opened #98 "BaseStorage doesn't handle file inputs with "multiple" attribute"
BaseStorage doens't handle multiple file form fields like this:

attachments = forms.FileField(widget=forms.ClearableFileInput(attrs={'multiple': True}), required=False)

There's a proposed enhancement here: https://github.com/django/django-formtools/issues/58 but it doesn't seem to work.

[2017-05-17 04:35] eagle-r commented on #61
I would like this feature too! In my application, we have to submit an API request at the end of the wizard that contains all the data. If that fails, I would like to have the data still in the forms so that the user can update according to the response from the API

[2017-05-23 14:47] clauvt commented on #98
I had the same issue with the WizardForm not being able to handle file with attribute 'multiple' when uploading.  So I created a new custom class based on the BaseStorage using the suggestion by the [#58](https://github.com/django/django-formtools/issues/58) above.  But, I found out that you also need to modify the "get_step_files" and "reset" functions to work with the enhancement suggestion for

[2017-05-23 14:52] clauvt commented on #58
I posted a fix that I used to handle multiple files using the BaseStorage class here #98

[2017-05-24 17:54] c-charles1 commented on #98
Thanks! I tried your code, but when I try get_cleaned_data_for_step('step_with_file_field'), I get None because is_valid() returns False. The error is: [ValidationError(['No file was submitted. Check the encoding type on the form.'].

FileField is the only field on the form for the step 'step_with_file_field'.

[2017-05-25 02:17] eagle-r opened #99 "Goto a step via the GET method"
I noticed that the wizard only allows you to go to a step via the POST method. It would be really helpful if this could also be done via GET.

Obviously this won't save or validate the data on the current step, but it seems that doesn't happen currently anyway.

The issue with a pure POST approach is that it forces you to use multiple submit buttons everywhere which in turn means that standard web

[2017-05-25 14:31] clauvt commented on #98
@c-charles1 it sounds like in your html code where you display the form, you didn't set the appropriate encoding type.  Did you set the enctype="multipart/form-data" in the <form>  tag?  It should look something like this:
[code]

[2017-05-26 13:26] fchevitarese opened #100 "Form initial data"
Hi there!
First, i would like to be sure it's a bug, so i'm asking here first.

I'm using formtools to make a confirmation to my submit.
So my modelform have a method with a ChoiceField that queries the database with a given code in the url and fill the combobox.

So, to make it work, i have to call get_initial and pass the data.
After i post, the form is invalid because, when it validates, there'

[2017-05-26 13:31] #100 closed

[2017-06-06 01:37] eriktelepovsky commented on #99
+1

[2017-06-06 04:31] eriktelepovsky commented on #99
I created a pull request for this #101

[2017-07-13 15:50] Temeez opened #102 "Support 'request' on forms (django 1.11)"
There should be an easy way to pass the request to the form class for one or more steps. I am using [django-two-factor-auth](https://github.com/Bouke/django-two-factor-auth) which uses `from django.contrib.auth.forms import AuthenticationForm` but the [user_login_failed](https://docs.djangoproject.com/en/1.11/ref/contrib/auth/#django.contrib.auth.signals.user_login_failed) signal has no request be

[2017-07-14 17:51] github-account-because-they-want-it opened #103 "KeyError: wizard_signup_view"
Hi there

So I'm using the `SessionWizardView` for the first 2 steps of a 3 step signup process. My issue is the same as the one mentioned on this [stackoverflow question](https://stackoverflow.com/questions/36266367/keyerror-wizard-activation-wizard). Here's a copy of my stack trace:

[code]
It seems to happen randomly and in bursts of successive errors from some user. I'm not doing anything spec

[2017-07-27 13:09] decolens opened #105 "Jump directly on a step on edition with FormWizard"
I'm using FormWizard for a long form I need to create. It works perfectly for creation of Django models.
Now I'm working on using the same FormWizard for edition. I've played with form instances to prefill each form with database data. It works well too, if the user passes by every steps.
In order to make it easier and faster for users, I would like to allow jumping directly on a specific step whe

[2017-08-10 13:22] karimone opened #106 "Run a validation in the done method"
I run the validation for every step, but during the compiling the is possible, even if it's a border line situation, that one of the steps is now not valide cause a change on the server from another user. Is there a way to run the validation in all the steps in the `done` method?

Thank you

[2017-08-31 18:35] ZiFFeL1992 commented on #61
Hey!

Can you provide a working peace of code with `done`? Is not being called on my app :_(

[2017-08-31 18:37] ZiFFeL1992 commented on #105
Hey @decolens !

Can you provide a working peace of code with `done`? Is not being called on my app :_(

[2017-08-31 18:38] ZiFFeL1992 commented on #106
Hey @karimone !

Done should be the way to validate date on each step, however It's not being called on my app, just defined the templates, overwrite `done` function but no result, any tips?

[2017-09-01 00:22] eagle-r commented on #61
@ZiFFeL1992 What exactly are you looking for?

[2017-09-02 11:09] ZiFFeL1992 commented on #61
@eagle-r I manage to get it working, thanks anyway :)

[2017-09-26 19:55] euxoa2010 commented on #98
I have the same issue than c-charles1. I tried your fix clauvt. It should work, but the thing is the code breaks in the end when render_done is called in the WizardView. In the previous steps, forms are directly validated with request.POST, and request.FILES. In render_done they are revalidated by constructing a form_obj from the storage object. At that moment the code breaks as the multiple files

[2017-10-19 12:04] jakobdo opened #113 "Conditional validation based on earlier step/form"
Hello,
i have a form based on multiple forms.
Step1Form
Step2Form
Step3Form
etc..

How can i validate data in step2, but based on answer in step1 ?

I think i somehow need to have access to "storage" from the clean(..) methond on my forms, but how ?

[2017-10-25 15:26] woutervisee opened #114 "Docs: what does 'force a preview' mean?"
Someone on Reddit suggested I use formtools for my project. I just started reading the docs and came across this:

What does 'force a preview' mean here? I've made multiple forms already using the default Django library and never came across this term but apparently it's common knowledge because it's not explained. Reading the rest of the page didn't help me in understanding. So my suggestion is,

[2017-11-10 16:17] mogoh commented on #78
I ran into the same Problem and asked [the question at stack overflow](https://stackoverflow.com/questions/47184436/how-to-get-formpreview-from-django-formtools-to-work). The documentation should be more extensive.

[2017-11-10 16:32] luzfcb commented on #78
I think you can feel free to improve the documentation by sending a
pull-request

Em 10/11/2017 13:17, "Mogoh Viol" <notifications@github.com> escreveu:

[2017-11-10 16:41] mogoh commented on #78
Well, yes. Maybe I will.

Slightly off topic: My project already contains a base.html. What can I do?

[2017-11-20 10:17] mogoh opened #115 "Is it correct, that we use state and stage in the preview.py?"
We use state [here](https://github.com/django/django-formtools/blob/b518a9e59f76923ce8d226c61b9cb4eb3469d790/formtools/preview.py#L21) and stage [here](https://github.com/django/django-formtools/blob/b518a9e59f76923ce8d226c61b9cb4eb3469d790/formtools/preview.py#L24). Is that correct? I am still figuring out how the code works, so sorry if this is a dump questions. But it looks like an error to me.

[2017-12-13 16:39] mogoh commented on #115
I understand the code now. This can be closed.

[2017-12-13 16:40] #115 closed

[2018-01-05 12:44] bram2w commented on #103
Better late then never, but I had the same problem today. I am using the SessionWizardView for user signup and when the users fills out the form everything goes as it should. When the user is created I automatically login the user. If a user if already logged in and tries to create a new account, Django recognizes that the user is already logged in and logs the existing user out when logging the n

[2018-01-24 00:20] cmelone commented on #113
Did you ever figure this out?

[2018-01-24 19:04] jakobdo commented on #113
No and i stopped the project, so you are on your own. ;)

[2018-01-26 14:07] smkbarbosa opened #117 "How I use django-material with django-formtools?"
How can I use django-formtools to render the django-material layout?
 I try:

[code]

Using this way, the template is rendered, but field validation does not occur

Traceback

Environment:

Request Method: POST
Request URL: http://localhost:8000/questionario/

Django Version: 2.0
Python Version: 3.6.3
Installed Applications:
['django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.content

[2018-01-30 20:28] #117 closed

[2018-01-30 20:29] smkbarbosa commented on #117
Solved: https://github.com/viewflow/django-material/issues/394

[2018-02-06 21:58] moggers87 opened #118 "Missing management data causes a 500 error"
While investigating https://github.com/Bouke/django-two-factor-auth/issues/243 I noticed that django-formtools suffers from the same issue: missing mangement data causes a ValidationError to be raised in the *view*, which is uncaught and produces a HTTP 500 response.

This behaviour is unexpected and I think it makes more sense to return a HTTP 400 (Bad Request). Pull request to follow shortly.

[2018-02-08 14:18] ptink opened #120 "`get_form_step_data` returns `form.data` and not `form.cleaned_data`"
Something puzzling about the way this is handled. As [per the documentation](http://django-formtools.readthedocs.io/en/latest/wizard.html#formtools.wizard.views.WizardView.get_form_step_data) `get_form_step_data` is specified as the place to manipulate the form data. However the default implementation:

`
def get_form_step_data(self, form):
    return form.data
`

Returns a forms `data` attribute

[2018-02-23 06:07] schinckel commented on #102
Can't you just override `.get_form()`, and make this pass in the extra kwarg(s)?

[2018-02-23 06:09] schinckel commented on #61
@ZiFFeL1992 Do you consider this an open issue? If not, you should close it.

[2018-03-03 11:35] ZiFFeL1992 commented on #61
Hey! Sorry for the delay, it has been so much time since I use this so I don't really remember what's wrong...

[2018-03-08 12:10] eagle-r commented on #61
I still feel this is would be a valuable feature. For my application, I ended up using an approach similar to that suggested by @dbrgn in https://github.com/django/django-formtools/issues/61#issuecomment-199702599.

This worked quite well for me but for it to work with the current codebase, I had to copy/paste the entire `render_done()` method and then modify it to catch a `ValidationError` raised

[2018-03-13 10:19] #118 closed

[2018-03-24 13:45] gamesbook opened #124 "Complete working example?"
I am struggling to get a form preview working; all I get is the same form being redisplayed over and over.

The example in the docs is helpful but frustratingly incomplete.  It does not seem that there is actually a link specified between the normal form and the form preview - but I include below the relevant snippets of my code; any guidance as to what is wrong or incomplete would be appreciated!

[2018-04-17 05:57] bashu commented on #98
@euxoa2010 @jt-v @clauvt still no solution?

[2018-05-01 12:51] eriktelepovsky opened #125 "ImportError: No module named 'django.core.urlresolvers'"
[code]

Django **2.0** removes the ``django.core.urlresolvers`` module, which was moved to ``django.urls`` in version **1.10**.

Possible fix to maintain compatibility:

[code]

[2018-05-01 12:56] claudep commented on #125
Could you please check to have the latest version before reporting bugs? Thanks.

[2018-05-01 12:56] #125 closed

[2018-05-23 09:18] danilovmy opened #126 "2 copies FormWizard in the same browser don't work correctly (data leak)"
if i use Session, the second Wizard write own data in the same session place.
now I make a hash in additional field in ManagementForm for each form, but i think it should be automatically.

and the same problem was auch hier: django-formtools/issues/15

i submit this auch hier (#29435)
Before issue was submitted on Trac (#22899).

[2018-06-21 08:33] holtgrewe commented on #61
Hi, I am having the same problem as discussed here and am wondering whether it would be possible to allow for handling errors in `done()`. At the very least, I need something sensible to happen instead of sending a `5xx` to the user.

[2018-08-03 18:43] avelis commented on #114
I could be wrong here but I believe it is offering a confirmation view that shows all the data you entered in the previous view before. Kind of like when an e-commerce site has a confirm address/billing/items/cart-total before actually to submit the order to charge you and start processing the order.

[2018-08-07 00:48] Thura98 opened #128 "get_template_names() is missing"
The get_template_names() function is missing and not found, although it is being documented.

[2018-08-07 01:19] #128 closed

[2018-08-07 01:19] Thura98 commented on #128
Found the problem

[2018-08-10 23:46] Thura98 opened #129 "Unable to upload multiple files for filefields with attrs={'multiple': True}"
I am only getting 1 file back from form.cleaned_data for filefields with attrs={'multiple': True} when I upload multiple files. I believe this is a duplicate of #98 and #58 but those solutions does not work out at all. Is it alright if this issue can be fixed?

[2018-08-15 08:46] rixx opened #130 "Wizard: Files aren't displayed when going back to a form"
One of my forms includes a working FileField. But if I upload a file to that step of the wizard, and use the "back" button to return to that step later on, the file is then not shown (but all other data is shown correctly). This is probably related to (or a version of) #23.

[2018-08-28 02:46] proofit404 commented on #130
Hi,

I think this is nearly impossible. File input can have default value due to security reasons.

We work around this issue by making our form validated against previously submitted data.

I.e. cleaned data will be populated not only from request.POST and request.FILES but from session data too.

[2018-09-13 13:31] robertomorati opened #131 "ManagementForm data is missing or has been tampered with"
Hi @jezdez

I have been facing the error: managementform data is missing or has been tampered with. Thus, if possible, I need some help to solve this issue :)   thankfully

My Form:
[code]

Main parts of HTML file:
[code]
Views:

[code]
Error:
[code]

I really apreciated,
All the best,

[2018-09-14 15:46] claudep commented on #131
Thanks for letting us know.

[2018-09-14 15:46] #131 closed

[2018-11-08 22:37] rixx commented on #38
To echo this rather old issue: If I use `condition_dict` to show some wizard steps only some of the time, and those conditions change unexpectedly, removing that step from the logic before the user submits their (already loaded page) – django-formtools leads to an exception.

[code]

[2018-11-08 22:55] rixx commented on #82
Adding a login/registration form to the wizard and skipping it via conditional steps for logged-in users is probably the best way to handle this (for future reference, in case others strand in this issue).

[2018-12-04 08:00] pingpingsim opened #133 "Function to call REST API to fetch all forms' initial data"
I am making use of the formtool wizard form to let users save and update the registration info. All input data will be saved and stored on the server.
During the wizard onload, I would like to make a single REST API call to fetch all the initial data for the forms in the wizard. Is there an init or onload function for the wizard which applies to the whole wizard, the loaded initial data will be st

[2018-12-04 08:13] claudep commented on #133
I'm afraid you are using the wrong channel to get support. You might have more success using other Django support channels: https://code.djangoproject.com/wiki/TicketClosingReasons/UseSupportChannels

[2018-12-04 08:13] #133 closed

[2018-12-05 13:33] akhilthomas17 commented on #98
Converting the dict returned by **_get_step_files_** to a django.http.request.MultiValueDictwould fix it.

`def get_step_files(self, step):
     ''unchanged until end'''
     files_mval = MultiValueDict(files)
     return files_mval`

[2018-12-05 13:38] akhilthomas17 commented on #98
``Converting the dict returned by **_get_step_files_** to a django.http.request.MultiValueDictwould fix it.

[code]

[2019-01-08 21:40] adi- opened #134 "multiple `get_form_initial` calls when `condition_dict` is used"
Don't know why, but when I use `condition_dict`, the `get_form_initial` def is called multiple times.

The above problem is seen when I use `wizard.get_cleaned_data_for_step()` in condition def.

Any clues?

[2019-01-09 17:10] bvishal8510 commented on #134
@adi- Can you please tell about the file and line number where you find this error

[2019-01-09 17:31] adi- commented on #134
I am implementing as exampled here: https://django-formtools.readthedocs.io/en/latest/wizard.html#formtools.wizard.views.WizardView.condition_dict

When `wizard.get_cleaned_data_for_step('0')` is present (not #) in `views.py`, `get_form_initial` is initiated multiple times. When you rem this line, everything works as expected.

[2019-01-09 17:33] adi- commented on #134
I also have added hooks (simple `print` statement) for `get_form_kwargs`, `get_form_initial` and condition function. I don't see any reason, why those functions are fired multiple times...

[2019-01-16 14:57] lulumuts opened #135 "FormWizard does not support internationalization of named wizard steps"
Hi all, I'm trying to translate my django app, and all aspects work except for the formtools wizard, specifically the strings assigned to my multistep forms. In Urls.py I have:

named_formwizard_forms = (
    (_('Your Details'), FormStepOne),
    (_('Residence Preference'), FormStepTwo),
    (_('Immigration & Schooling'), FormStepThree),
    (_('Mobility Expenses'), FormStepFour),
    (_('Living E

[2019-01-16 20:18] claudep commented on #135
Shouldn't your strings be `_('Your Details')` instead of `('Your Details')`?

[2019-01-18 06:15] lulumuts commented on #135
Hi my mistake, this is the way the code actually looks, can't say why it copied without the underscore.

named_formwizard_forms = (
    (_('Your Details'), FormStepOne),
    (_('Residence Preference'), FormStepTwo),
    (_('Immigration & Schooling'), FormStepThree),
    (_('Mobility Expenses'), FormStepFour),
    (_('Living Expenses'), FormStepFive),

)
urlpatterns = [
path(('form/'), FormWizardVi

[2019-01-18 08:31] claudep commented on #135
Your are aliasing `_` to `gettext_lazy` not `gettext`, right?

[2019-01-18 08:32] lulumuts commented on #135
yes exactly

[2019-01-18 20:46] claudep commented on #135
In fact, I dont think the form step name is supposed to be translated, as it is forced to a string soon in its processing. It is just a step name that should be used in the code, not a string to be presented to the user. You can probably store user-visible strings inside the form themselves.

[2019-02-05 10:11] HenryMehta commented on #98
I'm having the same problem loading multiple files and I'm trying to implement this solution but clearly doing something wrong.

I had been using
`file_storage = FileSystemStorage(location=os.path.join(settings.MEDIA_ROOT, 'car_images/'))`.

I replaced with `file_storage = CustomSystemStorage(location=os.path.join(settings.MEDIA_ROOT, 'car_images/'))`.

This gives me an error `TypeError: __init__(

[2019-02-16 16:51] hbrunacci commented on #113
[code]

[2019-03-07 13:35] Guilouf opened #138 "Form meta option not working"
I set up a mutlistepform, which is working great but it does not take into account the widgets options of the class meta:

[code]

I use this `Meta``widgets options in all my other forms and it's working, but not in formtools, at least form multisteps forms.

[2019-06-18 07:50] sigaev-pro opened #139 "Formset in the step"
Hello,

Does it anyway to create a formset in the step of Wizard?

[2019-07-03 06:42] astahlhofen commented on #98
@HenryMehta a bit late, but maybe helpful for others.
If you want to use the ``CustomSessionStorage`` then you can do the following:
* Add the ``storage_path`` to the ``CustomSessionStorage``
[code]

* Use the ``storage_path`` variable to specify the storage to use inside your ``SessionWizardView``:
[code]

[2019-07-05 09:33] cwfoo commented on #103
This error is triggered when you flush the session in the wizard's `done` method. Check if your method does any of these:

* Directly calling `request.session.flush()`, or
* Calling `django.contrib.auth.logout()` (which always calls `request.session.flush()`), or
* Calling `django.contrib.auth.login()` to log in another user when there is a user who is already logged in. In this scenario, `django.

[2019-07-06 00:16] rixx opened #142 "Django 3.0 compatibility"
Django will remove the vendored `django.utils.six` in the upcoming 3.0 release. `six` is in use in django-formtools for normalization of string types and iteration.

Since I see that the next version of django-formtools will drop support for Django versions 1.10 and below, and will add support for 2.1, the smoothest experience for everybody concerned would probably be to depend on `six` directly f

[2019-07-07 01:29] sicksid commented on #139
it does my man

[2019-07-08 18:41] tripptuttle opened #143 "Django 2.2?"
Are there known issues with Django 2.2.3 and Formtools 2.1? Specifically with the use of ModelChoiceFields? I've been having never-ending form wizard loops a 2.2.3 project. Nothing gets logged, but when I "submit" the final step in the wizard, it just takes me back to the first step, as if the "done" method in my SessionWizardView subclass is never called. Has anyone else encountered this type of

[2019-07-13 20:18] sicksid commented on #98
does not work, it says No File was submitted

[2019-07-14 15:25] astahlhofen commented on #98
@sicksid I've just created a small django example application which demonstrates a multiple file upload wizard using the view class ``WizardView`` and [``django-crispyforms``](https://django-crispy-forms.readthedocs.io/en/latest/). Maybe it helps you to fix your errors:
https://github.com/astahlhofen/formtools-wizard-multiple-fileupload

The uploaded files of a step inside the wizard are always ha

[2019-07-15 05:11] ChristianLan1 commented on #143
I installed with "pip3 install django-formtools", but it still says "ModuleNotFoundError: No module named 'django-formtools'."  Is this the issue for everyone using Django 2.2?

[2019-07-17 14:22] pyMan commented on #77
Please could you be post a sample about how to integrate formtools in django admin? Thank you

[2019-07-20 06:34] globophobe commented on #77
Sure.

[code]

[2019-07-25 08:09] sicksid commented on #98
hey @astahlhofen i got it working with a session view, any idea how can i implement the same changes with a namedurlsessionview? my problem at the moment is that the first steps always will have the step data empty, but the files will be there, not 100% sure yet why

[2019-08-01 09:02] step21 opened #144 "updated documentation"
It seems like a lot of the documentation could be more up to date and maybe differentiate better between different django versions. Specifically, if you look at urlconf/urlpatterns examples and the examples are all for django 1.x and you are only used to 2.x, that is quite confusing.
Another example I found was that just subclassing WizardView did not work. Then somewhere on Stackoverflow I found

[2019-08-02 07:42] hanfeld commented on #98
hi @astahlhofen thank you for the example, it helped me to understand the problem. Now I run into the issue that on the 2nd form all fields are being rendered with errors ('this field is required'). This must have to do with the form validation before being rendered but I'm not sure, I need to look further into it. You wouldn't happen to have an idea?

[2019-08-12 06:26] astahlhofen commented on #98
@sicksid - Sorry, but in my use cases I just needed the SessionView. But do you have an example on github? Maybe I can take a look at your code.

@hanfeld - Yes, this sounds like a validation problem. Do you have any code uploaded on github to review your error? I always debug my code using [pudb](https://documen.tician.de/pudb/). Maybe it's helpful for you to find the problem.

[2019-08-13 20:53] #38 closed

[2019-08-16 20:42] motatoes opened #147 "SessionWizard not saving data between form steps"
I asked this question on [stackoverflow](https://stackoverflow.com/questions/57514544/django-formtools-saving-data-between-form-steps). My question is about saving information between fields.

I am trying to create a multi-step form wizard using [django-formtools](https://github.com/django/django-formtools). I have a main model called `Report` and several ModelForms as follows:

[code]

in my view

[2019-09-11 08:34] HenryMehta commented on #61
This works like a charm

[2019-09-11 11:48] chirie commented on #98
@astahlhofen, I implemented your code and it works perfectly when I use as it is. However, I need to save the files info to database. I also have other data I am gathering on the other step forms. So, like @hanfeld, I am getting an error in the second step of ('this field is required'), even before I fill it or submit it. Thirdly, the files are not saved to database. Might be there is something I

[2019-09-20 09:06] rixx commented on #144
Hi @step21 – updates to the documentation are very welcome! I recently ran into similar problems, and even small improvements would go a long way.

[2019-09-29 16:41] fallen opened #150 "Maybe time for a release?"
Django 3.0 will soon be out there, and the latest release of django-formtools cannot work on Django 3 because Python 2 support was dropped (no django.utils.six anymore.).
I can see that Python 2 (and therefore usage of six) is already dropped from master here.
But until there is a release, it's not possible to use this on Django 3.
Please do some release and publish it on pypi so that django-formt

[2019-10-03 15:52] jazzband-bot opened #151 "Implement Jazzband guidelines for django-formtools"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [django-formtools](https://github.com/jazzband/django-formtools)

It was initiated by @felixxm who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to

[2019-10-03 16:36] felixxm commented on #151
@jezdez You're a maintainer of `django-formtools` on PyPI and "Read the Docs". Can you add `jazzband` and `jazzband-bot` accounts to maintainers? :pray:

[2019-10-03 19:29] violuke commented on #143
@ChristianLan1 This is the problem that I have

[2019-10-04 08:02] felixxm commented on #151
@claudep Would you like to be a project lead?

[2019-10-04 08:31] claudep commented on #151
I'm glad to participate, but not alone if possible.

[2019-10-04 08:55] felixxm commented on #151
@claudep Great, thanks :+1:. I solved few points from the TODO list.

[2019-10-07 16:00] claudep commented on #151
Current Pypi releasers are @jezdez and @timgraham

[2019-10-07 16:02] claudep commented on #151
And for readthedocs, it's @jezdez only.

[2019-10-11 10:11] jezdez commented on #151
Hey all, I've added the Jazzband bots on PyPI and RTD. Any news on who'll be project lead(s)?

[2019-10-22 06:57] Mushahid2521 opened #153 "ManagementForm data is missing or has been tampered with"
I have been struggling with this for a long time. Will you please help me on this. This is not letting me sleep for a long time. Please help.
My view
`def daily_report_create_view(request):
    district = 'Natore'
    if request.method == 'GET':
        form = DAILY_REPORT_FORM(request.POST)
        g1_form = G1_FORM()
        g2_form = G2_FORM()
        g3_form = G3_FORM()
        g4_form = G4_FO

[2019-10-22 07:07] claudep commented on #153
Sorry, but nothing in your report indicate that django-formtools is used at all. I'd suggest using a django users forum for your question (https://forum.djangoproject.com/c/users by example).

[2019-10-22 07:07] #153 closed

[2019-10-22 07:10] Mushahid2521 commented on #153
I have been using inline formset factory
`G8_FormSet = inlineformset_factory(DAILY_REPORT_MODEL, G8MODEL,
                                            form=G8_FORM, extra=1)`

[2019-10-22 07:11] claudep commented on #153
`inlineformset_factory` is standard Django.
https://docs.djangoproject.com/en/2.2/ref/forms/models/#django.forms.models.inlineformset_factory

[2019-10-22 07:15] Mushahid2521 commented on #153
Brother I am getting the error of the title. [Here](https://github.com/jazzband/django-formtools/issues/131) this is the same issue asked but I couldn't make it right after using the solution of this issue as well. Still the error occurs. Please let me know if I need to paste all the codes to make it  more understandable.

[2019-10-22 07:23] Mushahid2521 commented on #153
@claudep help me bro

[2019-10-22 07:24] claudep commented on #153
I wrote to your gmail address, this issue is not the location to handle your problem.

[2019-11-05 10:05] bo0tzz opened #155 "Pass information from request to form __init__"
One of the forms in my wizard needs some context from the request on initialization. It would be nice to have a way to pass this context from the WizardView when calling the form __init__. In #102 there was a suggestion to override get_form() to achieve this, but in get_form() there is no access to the request.

[2019-11-06 09:48] bo0tzz commented on #155
Solved it - I can just override get_form_kwargs() and add the request there:
[code]

[2019-11-06 09:48] #155 closed

[2019-11-13 11:11] richtier commented on #21
here's a mixin. add it to the view
[code]

[2019-11-15 06:05] KyeRussell opened #157 "Allow hooking invalid form submission for a step"
Looking here:

https://github.com/jazzband/django-formtools/blob/master/formtools/wizard/views.py#L294

It appears that there is no way for me to do anything when a step's form submission fails, without overriding all of `post()` to put an `else:` on the `if form.is_valid()` conditional.

Firstly, am I right in this assertion?

If so, it'd be beneficial for me personally to have this ability. I do

[2019-11-20 13:20] ronflima opened #158 "Ability to cancel current wizard workflow without restarting"
# Scenario

1. User enter a wizard's workflow
1. At the middle of the wizard's workflow, the user abandon it by clicking a "cancel" button, since it has no interest in continuing.
1. Later the user come back and enter the wizard's workflow, on the same session.

# Current behavior

- The user will be directed to the point where it stopped last.

# Desired behavior

- The user should start at the w

[2019-11-21 15:44] perkalerk opened #159 "How to delete uploaded file when user navigates to another page before submitting form?"
Hello,

For my example, let's say a user uploads a file in step 1 of the Wizard, then goes to step 2 and navigates to another page without submitting the form.  What method can I use to detect this action so that I can delete the user's uploaded file and not have it junk up the file system?

I've gotten it so that the file is deleted on a reload but not if the user enters a URL into the browser an

[2019-11-28 11:43] muffinmad commented on #120
Data returned by form's `clean` method are not saved to storage. So any changes to `cleaned_data` is lost.

[2019-12-02 16:37] juancferrer commented on #142
Any updates on this?  I'm trying to upgrade my project to use Django 3.0 and it seems that formtools/utils.py is importing django.utils.six which is now deprecated.

[2019-12-02 16:44] juancferrer commented on #142
I see the source installed from pypi is still using six, but the latest code on github doesn't.
I guess there hasn't been a new pypi release with these latest changes?

[2019-12-02 17:26] juancferrer commented on #142
I just added this to my requirements.txt and my project is back to normal, using django 3.0

-e git+git://github.com/jazzband/django-formtools@db1f4f4049d913a3774a0edcf5107203b8a15e91#egg=formtools

Maybe there can be a new PyPi release, so we don't have to have this in requirements.txt ?

[2019-12-03 04:32] martey commented on #150
I've seen this canard ("if there isn't a release on PyPi, I can't install the changes/updates made recently") a lot, and it's not true. You can use [an editable installation](https://pip.pypa.io/en/stable/reference/pip_install/#editable-installs) to install directly from the Git repository:

`pip install -e git+https://github.com/jazzband/django-formtools#egg=django-formtools`

[2019-12-03 07:58] fallen commented on #150
That is true. But it's also true that a lot of people are reluctant from using in production something that is not a release.

[2019-12-03 20:30] claudep commented on #151
@jezdez, could you setup @felixxm, @hramezani and @claudep as project leads?

[2019-12-03 20:31] claudep commented on #151
@jezdez, is anything more needed for jazzband release setup?

[2019-12-03 22:17] loop0 commented on #142
It would be awesome to have a new release in order to use it in django 3

[2019-12-03 22:31] hramezani commented on #142
Soon we can have new PyPi releases compatible with `Django 3.0`.
[The new version](https://github.com/jazzband/django-formtools/commit/6aace6b653d0d4ba6a0130695006172cee4d1b92) is created already.

[2019-12-04 15:20] loop0 commented on #142
What is keeping us from releasing it to pypi?

[2019-12-04 15:49] claudep commented on #142
A releaser!

[2019-12-05 15:57] claudep commented on #150
@timgraham Do you think you would be able to help for a release, you seem to be authorized on Pypi?

[2019-12-05 16:16] timgraham commented on #150
Sure. Anything to be done besides pushing a tag and uploading to PyPI?

[2019-12-05 16:19] claudep commented on #150
Awesome!
Maybe update the (too optimistic) release date in `docs/changelog.rst`. The rest should be ready™ in my point of view.

[2019-12-05 17:03] timgraham commented on #150
django-formtools 2.2 is now on PyPI.

[2019-12-05 17:03] #150 closed

[2019-12-05 17:03] timgraham commented on #142
django-formtools 2.2 (with Django 3.0 compatibility) is now on PyPI.

[2019-12-05 17:03] #142 closed

[2019-12-05 17:06] timgraham commented on #143
django-formtools 2.2 (tested with Django 2.2) is now on PyPI. If you still have trouble, please investigate and explain why formtools is at fault.

[2019-12-05 17:06] #143 closed

[2019-12-05 17:07] claudep commented on #150
Our hero of the day \o/

[2019-12-05 17:13] felixxm commented on #150
Thanks🏅

[2019-12-05 18:04] fallen commented on #150
Thanks a lot @claudep and @timgraham ! :)

[2019-12-05 19:16] s-weigand opened #161 "[BUG]: Release 2.2 breaking Python 2.7"
The release from 2h ago is breaking python 2.7 (in my case tests).
It is clear that you wanted to deprecate the support for python 2.7 .
But for pip to not allow the installation on python 2.7,
https://github.com/jazzband/django-formtools/blob/bffb403ceaca78563548dd01d1103373f12c80ac/setup.py#L135
needs to be:
`"Programming Language :: Python :: 3 :: Only",`

`"Programming Language :: Python` refe

[2019-12-05 19:29] claudep commented on #161
Can you please check the PR #162?

[2019-12-05 19:38] s-weigand commented on #161
I think for PyPi to get it right, you need to delete that release and rerelease.
Because else `2. 2` will still be out there and break py27, since it is the latest py27 'compatible' release.

[2019-12-05 19:47] claudep commented on #161
@timgraham An opinion on this?

[2019-12-05 19:52] timgraham commented on #161
I don't think it's worth the effort to delete and re-release. After all, Python 2 is EOL January 1 and anyone still using it can specify an exact version of django-formtools.

[2019-12-05 20:11] s-weigand commented on #161
The problem I would see is less the actual use case of a user, but testing of packages that get this as pear dependency. That's how I got it (`django-cms`).

[2019-12-05 20:28] timgraham commented on #161
Sure, but those packages can pin versions (if they aren't dropping Python 2.7 by now...) or users can pin requirements on behalf of those packages. I think asking each package that drops Python 3 and doesn't include the appropriate Trove classifier to re-release is unrealistic.

[2019-12-05 20:30] #161 closed

[2019-12-05 21:19] s-weigand commented on #161
Just mentioning to prevent future issues like this, I think in the wild py27 and it's support (especially for server applications) will survive for quite a while. Due to missing proper admins and/or natural grown structures, which make upgrades complicated, py27 will stick around, and so will the support atleast basic security wise. I. E. Django-cms supports python 2.7 in their latest release from

[2020-01-07 16:41] caffiendFrog opened #166 "Possible bug when refreshing form?"
## _Scenario_
I am using `SessionWizardView` which has 3 forms. The forms are all using the same template, which has 3 fields, one of which is a required UUID for a part. The end result is to have 3 unique parts (i.e. UUID must be ... unique). I have validation in my form `clean` method that checks this. The validation works as expected if the user never refreshes:
1. User enters UUID "abc" in ste

[2020-01-19 16:48] frague59 commented on #157
Hi,

I've the same issue, it should be very interesting to add this hook for step validations : I've some ModelForm + ModelFormset (having the ModelForm as FK of the ModelFormset) that could benefit of it.
For now, I validate the formset with client-side JS, which is not perfect, because I do not want to hack the post() method...

[2020-02-03 03:18] KyeRussell commented on #157
My particular issue was sidestepped by messing with some form code. It is not ideal in my case, and can foresee circumstances in which I'd still want my original request.

[2020-03-05 05:41] embs47 commented on #130
Hi, I am using django-formtools for 5 months now and I still have the same issue as @rixx . Do you have any workaround for this? Thanks!

[2020-03-31 19:35] JEphron commented on #77
Getting the form wizard to play nicely with the Django admin is definitely a lot harder than it should be. I think the problem is largely due to the complexities of Django's ModelAdmin. Some things I've learned from playing around with it.

* If you don't want to mess with `get_urls` you can be specific by overriding the various `*_view` [methods](https://docs.djangoproject.com/en/3.0/ref/contrib/

[2020-05-03 02:04] BongzMD commented on #147
Hi Motatoes, did you get assistance with this problem? I am struggling with the same issue.

[2020-05-03 10:52] motatoes commented on #147
@BongzMD I did not get an answer regarding formtools and I don't remember if I found out what was wrong so I created my own wizard view

I made all the fields in my table nullable. I have a create report view which included:

[code]

I also copied bits of the SesssionWizard for my `UpdateReportView` but instead of using a session I save the form records directly in the table at every step (provide

[2020-05-03 10:54] BongzMD commented on #147
Okay thanks

On Sun, 3 May 2020, 12:52 Mohamed, <notifications@github.com> wrote:

[2020-05-12 11:58] ShaheedHaque opened #167 "Cannot move to "first step" or "prev step" in example without filling in fields"
I have coded up the example from the docs (plus or minus) and notice that when I am on the second screen, I cannot move to "first step" or "prev step" in example without filling in fields:

![image](https://user-images.githubusercontent.com/4881193/81684988-78e7b600-944f-11ea-9324-3fa0df4829a1.png)

Now, I'm a bit hazy on front end stuff, but I presume this is because the fields are required and t

[2020-05-12 12:06] ShaheedHaque commented on #167
To put it another way, any GET repositons to the first step. I see that #99 and its associated PR #101 attempt to address this. Is my understanding correct?

[2020-05-12 15:19] ShaheedHaque commented on #167
OK, I found [formnovalidate](https://www.w3schools.com/tags/att_button_formnovalidate.asp).

[2020-05-12 15:19] #167 closed

[2020-06-04 13:36] nahuelange opened #168 "get_form_list is bypassed"
Hi,

I'm trying to implement conditionnal steps in my WizardView, using get_form_list to return the needed list of steps.
When I do this, formtools raises an exception trying to access a step in the form_list class attribute.
Line 409 of file `formtools/wizard/views.py`:

[code]

Don't the get_form_list method should be called everytime formtools needs the form_list instead of accessing the proper

[2020-06-04 14:11] nahuelange commented on #168
In my case i must use condition_dict, but the problem about get_form_list still is a question.

[2020-07-25 20:16] 9mido opened #169 "Add Mechanism To Prevent Form Resubmission"
There should be a way to prevent a form from resubmitting again after a form processes and also double submission when a user clicks submit multiple times during a single form processing instance. A user should be able to set a period of time of how long until an authenticated user / anonymous user can be able to submit the form again. Sort of like rate limiting/throttling.

[2020-07-30 15:01] stephappiah commented on #147
From your template, the "next" button only takes you to the next page but doesn't actually 'save' the data. you can fix that by using an input field instead on the next button as seen below.

<input type="submit" value="{% trans "Next" %}"/>

[2020-08-03 10:32] elmcrest commented on #147
Isn't there a way to save data in the session and reuse it in the steps? directly saving to DB seems a little wrong to me tbh...

[2020-08-12 16:21] abdosalah2030 commented on #129
i have the same problem !

[2020-08-12 19:18] abdosalah2030 commented on #98
it's not work with me can you give me some full example project

[2020-08-20 17:33] FilipeAVS opened #170 "FileField not working properly"
Hey all 👋

I'm currently working with the Form Wizard to build a multi-step form. I have 5 steps (hence 5 forms), and on the 4th one I'm trying to add a FileField like this:
[code]
Very simple and direct. Also, on my view I added this:
[code]
Also nothing too fancy here. For some reason, this is not working. I can select a file on my form and everything, but when I press to go to the next step, th

[2020-09-02 08:40] FilipeAVS commented on #170
I was missing the **enctype** at the form tag in the template:
```enctype="multipart/form-data"```

[2020-09-02 08:40] #170 closed

[2020-09-20 08:48] HoshiYamazaki commented on #98
It doesn't work since Django and stuff changes and it need to get updated. I'm stuck with the same issue.

[2020-09-22 19:12] lilboat72 opened #171 "Is ajax supported?"
Was wondering if this library supports form submission by ajax. For example, i would like to send an ajax request to the server, perform some stuff then retrieve the form without refreshing the page.

[2020-09-23 05:37] globophobe commented on #171
WizardView is a regular Django view which processes one form, and then another form, with validation steps, until all forms are done. Temporary data is typically stored in session store.

There is no reason you could not use combine WizardView with ajax requests. However, if you're going to use ajax you may find it easier to just create some views, and use JavaScript to manage the form steps.

[2020-09-23 12:12] lilboat72 commented on #171
Mhhh i see. So as an alternative to my problem, is there a way to carry validations on your own. Like i want to modify the   **request FormData** that is passed by ajax before i call `form.is_valid(...)`. All methods as specified in the docs deal specifically with post(after) handling of data. I even posted the problem on Stackoverflow [https://stackoverflow.com/q/64017446/11345948](url).

[2020-09-23 13:23] globophobe commented on #171
Subclass WizardView and override `post` https://github.com/jazzband/django-formtools/blob/965769d791a82fd32b3f70613c6785008eca3a4b/formtools/wizard/views.py#L291

[2020-09-23 13:25] lilboat72 commented on #171
OMG what a huge coincidence. I was literally doing that 10 min ago. Anyway thanks a lot 👍🏿

[2020-09-23 13:25] #171 closed

[2020-09-23 19:13] lilboat72 opened #172 "What happens when i omit {{ wizard.management_form }}"

[2020-09-26 18:41] lilboat72 commented on #129
uhm... I also have the same problem. Did you find a solution after 2 years

[2020-09-29 06:10] CARocha opened #173 "error save m2m django 3.0.8 and django-formtools==2.2"
Hi, when i try save data into database
data = {k: v for form in form_list for k, v in form.cleaned_data.items()}
instance = MyModels.objects.create(**data). #in data send my 2 fields m2m  :/ django say this error
Direct assignment to the forward side of a many-to-many set is prohibited. Use sintomas.set() instead.

any idea how to solve this please!!

Cheers

[2020-09-29 06:50] claudep commented on #173
This has nothing to do with django-formtools, in Django you have to set object values for ManyToMany Field's in a separate `instance.<m2m_field>.set(values)` line.

[2020-09-29 06:50] #173 closed

[2020-09-29 14:42] CARocha commented on #173
Hi, @claudep yes thank but you see in data include m2m fields, any idea separated field not m2m for working save and them save instance.m2m.set() :/ the problem is this line nstance = MyModels.objects.create(**data) data include all fields fk,m2m,fields

Cheers

[2020-09-29 14:49] claudep commented on #173
If you create objects by yourself, than it's your task to separate form data to be able to save m2m fields separately. You can see an example of that happening in Django's own ModelForm save() method (https://github.com/django/django/blob/master/django/forms/models.py#L445).

[2020-10-06 17:17] CARocha commented on #172
no working man, is mandatory

[2020-10-06 17:35] CARocha opened #174 "is it possible to use grainy form using django widget tweak"
I have a model with 9 fields, I have created 3 forms (ModelForms) to use with the wizard
but I would like to have control of each field, is it possible to do it with formstools?
I put an example of what I want to do is possible in each step.

<table>
{{ wizard.management_form }}

{% if wizard.steps == 1 %}
    {% render_field wizard.form.field_1 class+="css_class_1 css_class_1"  %}
    {% render_f

[2020-10-08 13:46] #172 closed

[2020-10-19 20:41] CARocha commented on #174
I have turned out like this
{% if wizard.steps.step1 == 1 %}
{% render_field wizard.form.field_1 class+="css_class_1 css_class_1" %}
{% endif %}

[2020-10-19 20:41] #174 closed

[2020-10-19 21:00] CARocha opened #175 "wizard with progress bar"
how to implement progress bar any idea? example

cheers

[2020-10-20 06:17] claudep commented on #175
Sorry, this is a bug tracker, not a support channel. Please go to Django forums instead.

[2020-10-20 06:17] #175 closed

[2020-10-20 13:47] CARocha commented on #175
ok @claudep if you any idea or link?  I have searched in forums and the documentation but nothing, if I get to discover how I publish here how I solved it

[2020-11-04 17:09] adi- opened #176 "Can you confirm that SessionWizardView stores data on server side session object not user's session?"
In my testing environment I am storing data in `self.storage`. Then, in other web browser (to be sure that user has other session number) I am reading data from `self.storage` and – which is very worrying – I see the same data I have stored in first web browser.

When I use `CookieWizardView` everything works fine.

Can you confirm? This is potential data leakage if I am right.

[2020-11-09 05:29] nikolas310 opened #177 "Working with django-crispy-forms"
Forms.py
[code]

Views.py
[code]

urls.py
`path('add/', views.FormWizardView.as_view(), name='user_add')`

Two issues:

1. ImageUpload not working, though file given but shows its required
2. FormHelper from crispyform is not working
3. Step by Step data is not saving

[2020-11-09 12:03] nikolas310 commented on #23
@smwise Can you give working demo

[2020-11-10 10:35] #177 closed

[2020-11-15 10:33] akshitagupta15june opened #183 "Request for joining the organisation"
Request for joining the organisation.
I am an open source enthusiast.

[2020-11-15 13:50] midopooler commented on #183
I am also in the queue! :)

[2020-11-15 17:41] claudep commented on #183
Many thanks for proposing your help. However, you can already create pull requests or help review current pull requests. You don't need to be in any organisation for that.

[2020-11-15 17:41] #183 closed

[2020-11-24 08:56] #135 closed

[2020-11-25 09:27] claudep opened #187 "Replace Travis-CI by GitHub Actions"
Unfortunately, Travis-CI recently became unusable for open source projects. Anyone to create a GitHub Actions config for django-formtools?

[2020-11-25 09:30] hramezani commented on #187
Hi @claudep,
I can work on this.

[2020-11-25 09:54] claudep commented on #187
Great, I know @jezdez also have a plan to some mass-conversion for Jazzband projects.

[2020-11-25 10:18] jezdez commented on #187
No need to work on this @hramezani, thank you for the offer though. I'm converting all projects to GHA this week. More news forthcoming..

[2020-11-27 21:14] jezdez commented on #151
@claudep *almost one year later* Thanks for your patience, this is now done as part of #188 😬 Thank you all for volunteering as project leads, check out https://jazzband.co/projects/django-formtools.

[2020-11-27 21:14] #151 closed

[2020-11-27 21:16] jezdez commented on #187
This is now pending review in #188

[2020-11-27 21:56] #187 closed

[2020-11-27 22:16] claudep commented on #151
Never give up :-)

[2021-01-06 10:54] ShaheedHaque opened #191 "Optional file inputs are not cleared if the user deselects the file"
Let say you have a with steps Form1 and Form2, where Form1 has a file input, which is optional. If the user takes the following actions:

- On Form1, enter filename `x.txt`.
- Progress to Form2.
- Go back to Form1, but this time the user does not select any file.
- Progress to Form2.

At this point, the expected behaviour is that:

1. self.storage.data[self.storage.step_files_key]['Form1'] should

[2021-01-06 11:08] ShaheedHaque commented on #191
Here is a prototypical fix. Change https://github.com/jazzband/django-formtools/blob/3b161670549503ae4ed81f9e0a43f2d12fc73e41/formtools/wizard/views.py#L297 to look something like this:
[code]

[2021-01-08 14:52] ShaheedHaque commented on #159
In general, since the server has no clue that the user has gone away (or indeed might come back), I don't think there is any explicit trigger that one can rely on. What I do is that I ensure all file storage is kept in a well-known tree and run a daily "batch" job that clears the tree of files which have been there more than 2 days.

[2021-02-11 10:52] saemideluxe commented on #130
Hi
I suspect that the "initial" parameter of the form is not populated correctly.
In the backend the file seems to be available as expected, also after multiple forward/backward jumps (I verified this with debug-prints). However, when e.g. using the FileInput widget it will not be clear in the frontend that a value has already been provided (due to the way the widget is rendered, as proofit404 sai

[2021-03-12 17:24] spapas commented on #168
Please could somebody give some love to this issue? You just need to change the the line `form_class = self.form_list[step]` of the `get_form` method to `form_class = self.get_form_list()[step]` to fix it.

It would be really useful to be able to fully configure the list of forms of my wizard. Using the `condition_dict` is not as powerful as being able to completely redefine the list of the forms.

[2021-04-09 17:59] umgelurgel opened #195 "Possibility of a new PyPI release?"
Looks like there hasn't been a new release since 2019 - given that Django 3.2 LTS has been released recently, would it be possible to have a new version of the module released to PyPI?

Related https://github.com/jazzband/django-formtools/issues/150

[2021-04-13 09:58] rtpg commented on #195
Alright going to try and get the ball rolling for this with #196

[2021-04-13 10:39] umgelurgel commented on #195
Thank you! :pray:

[2021-04-16 11:47] HoshiYamazaki commented on #23
You basically can do that using just SessionWizardView with dummy formstep as preview...

[2021-04-19 04:02] #195 closed

[2021-05-08 02:42] martey commented on #168
This looks like a duplicate of #62, which hasn't been merged because it doesn't include automated tests.

[2021-06-30 02:35] quinceleaf opened #197 "Form throws TypeError using get_form_kwargs within DFT but no errors passing kwargs outside it"
Using `django-formtools` 2.3, `Django` 3.2

**Issue: form used outside of DFT can be passed kwarg without issue, but same form throws TypeError when kwarg passed using `get_form_kwargs` within DFT**

I am using DFT on a 2-part form for creating a bill-of-materials. For updating, I use standard UpdateViews with only the parts of the form user wants to modify. So I am able to see the forms/formsets

[2021-07-01 11:54] BismeetSingh opened #198 "Form not moving to next step."
I am using django 3.1.4 with crispy forms 1.12 and formtools 2.3 and the initial page loads but the next button doesn't do anything. However,the next button does validate the page when crispy forms are replaced with {{ form.as_p }}. It seems the library is incompatible with crispy forms.
forms:

[code]

html:
[code]

views.py

[code]
urls.py

     path('income_tax_form',IncomeTaxWizard.as_view([In

[2021-07-20 20:08] CruzR opened #199 "Dynamically insert wizard steps based on form data"
I'd like to dynamically insert wizard steps based on form data from an earlier step. To be more specific, I have a `ModelMultipleChoiceField` in one step, and I'd like to insert a step for each selected model. As I understand it, the only way to have some kind of dynamic step selection right now is the `condition_dict` mechanism, which won't work because it can only skip steps known to exist in ad

[2021-07-20 20:24] claudep commented on #199
Frankly, I think that the use case is too specific to integrate something like that in WizardView. So your suggestion to subclass WizardView looks right to me. If by doing this, you see possible improvements, you may open new tickets with such proposals.

[2021-07-20 20:24] #199 closed

[2021-07-20 20:33] CruzR commented on #199
Alright, I'll do that then. Thanks for the quick reply!

[2021-09-09 04:06] schinckel commented on #199
If it helps, I had to do exactly this.

The only thing I really needed to change was to make `get_form()` use `get_form_list()` instead of how it currently references things.

[2021-09-27 08:06] Samoht1 commented on #147
I also have this issue

When trying this I get a SuspiciousOperation error saying "ManagementForm data is missing or has been tampered."

[2021-09-30 16:43] claudep commented on #134
Any patch with tests will be welcome!

[2021-10-25 21:50] danielsjf opened #202 "Form reset does not work for NamedUrlWizardView"
From the source code I understand that it is possible to reset formtools via
See: https://github.com/jazzband/django-formtools/blob/dd0f278760919f080dfa0ecbc63c790247bf69d7/formtools/wizard/views.py#L652

This would work for urls like `https://[...]formtools-url?reset`

Unfortunately this doesn't work for named wizards since the step_url is not None. Setting it to None typically does not work with

[2021-11-30 14:26] Samoht1 opened #204 "Form Wizard doesn't save File"
I have a 5 step form wizard, each their own form. I have a FileField in the first, but something is going wrong. When I reach the final step and press submit, my model gets saved but the file field is empty in my database. It's not "null", but actually empty. I created the "file_storage" variable but that only stores the file temporarily, it get's deleted as soon as I submit the form

this is my w

[2021-12-23 20:15] stuaxo opened #206 "Either form_list could be easier to use or docs could be clearer"
The examples in the documentation don't seem to set form_list, but all the versions in the tests here do.

TLDR: Either I'm doing something wrong around form_list (in which case the docs could be improved) - or form_list itself could be easier to use.

In detail -
I'm trying to write unit tests for a form wizard [1], `get_form_list` and anything that call it fail - because our form doesn't actuall

[2021-12-26 01:13] ShaheedHaque commented on #98
I believe the root cause is that set_step_files() and get_step_files() BOTH create/return vanilla dicts instead of MultiValueDicts. In the current code:
[code]

[2021-12-27 11:08] ShaheedHaque opened #207 "Revisiting a form step does not refresh the return from storage.get_step_files()."
Let say you have a wizard with steps A, B, C... such that step A (for example) has an uploaded file. When step A is passed, for A is validated and the selected file is remembered by storage.get_step_files() in a cache called self._files, and now the current step is B.

If one navigates *back* to A, even if the selected file is changed, the cache is NOT refreshed because the logic for self._files l

[2021-12-27 11:16] ShaheedHaque commented on #207
I suspect that clearing the cache, including deleting any previously stored files, would also address #191.

[2021-12-27 15:14] ShaheedHaque commented on #191
Obsoleted in favour of #207.

[2021-12-27 15:14] #191 closed

[2021-12-27 15:18] ShaheedHaque commented on #207
An evolved version of the workaround from #191 that also caters for this problem is:
[code]
Of course, putting the corresponding logic inside `storage.set_step_files()` would seem to be the right fix.

[2022-02-10 17:12] sergioisidoro commented on #204
I'm having the same issue for a few hours now, and I can't find the cause.
[code]

As we can see the `'profile_info-avatar_file': ['242434811_582079809594246_1047266963691802278_n.jpg']` shows a file, but everything else is empty.

I'm using
[code]
but I also tried other approaches without any luck.
Did you figure it out @Samoht1 ?

[2022-02-25 14:18] stuaxo commented on #206
It looks like I should have been using get_initkwargs not as_view to setup initial kwargs.

[2022-02-25 14:18] #206 closed

[2022-03-02 18:43] #168 closed

[2022-03-26 09:52] timonweb commented on #198
@BismeetSingh I confirm, I'm observing similar behaviour with `django-crispy-forms = "1.14.0"` and `django-formtools = "2.3"`. Have you managed to solve the issue?

[2022-05-03 01:06] murraylchapman opened #212 "FormWizard doesn't work with FormSet/formset_factory()"
If you have a FormWizard step that generates a form(set) via `FormSet.form_factory()` then you end up with a mess where FormWizard drops a `formtools.wizard.views.ManagementForm` into the page but it's validated inside Django as if it's a `django.forms.formset.ManagementForm`.

This manifests as either a "management form has been messed with" error or an `KeyError` when `FormSet.full_clean()` does

[2022-05-05 17:52] gitouttaherenow opened #213 "How do I display per field errors?"
I'm using the following code in my template. How do I go about displaying errors per field? The tag {{ field.errors }} inside the loop isn't working. It outputs nothing in the div. However, {{ form.errors }} works fine, but I won't be able to display them per field basis.

[code]

Here's the view code. Some parts have been retracted for brevity.

[code]

[2022-05-05 18:38] gitouttaherenow commented on #213
Sorry, this turned out to be a Bootstrap + field error class issue. Used https://stackoverflow.com/a/70826318 to solve it.

Since this is unrelated to formtools, feel free to delete the issue.

[2022-05-05 18:38] #213 closed

[2022-05-11 07:24] Starou commented on #134
@GiuseppePegasus : as a workaround I use `wizard.storage.data['step_data']` to avoid infinite recursion or to fire wizard's methods too early (`get_form()`, `get_form_initial()`).

[2022-09-27 06:16] claudep opened #218 "Release version 2.4"
@timgraham I think you are the dedicated releaser of this package :-)

Would you have the time to make a release  during the next days?

[2022-09-28 06:35] claudep commented on #218
Ah :-) So I'll try to do it. The fact that almost each project in which I participate has a slightly different way of releasing does not help :-/

[2022-09-30 15:04] dave-v opened #220 "Infinite Recursion possible in 2.4"
We have a `condition_dict` containing the following function:
[code]
The call to `WizardView.get_cleaned_data_for_step` then calls `WizardView.get_form`, which used to reference `self.form_list`, but the following commit changes this to `self.get_form_list()`, which then calls the user-supplied `condition_dict` functions, which then calls our `need_further_steps` function above, which calls `Wizar

[2022-09-30 15:53] claudep commented on #220
@stuaxo, @schinckel, any idea about how to avoid that regression?

[2022-10-01 07:36] schinckel commented on #220
I think I’ve had similar issues. I’ll try to have a look later tonight to see how I got around it.

[2022-10-01 09:21] schinckel commented on #220
Okay, I've found the similar problem I came across. I think it's the "same" problem, just a different approach.

I had code in `get_form_list` that needed to see cleaned data from other steps, which triggers the infinite co-recursion.

My workaround was to get the raw data instead, and build up that form and get the cleaned data that way.

We should think about either/both a way to handle this (ge

[2022-10-01 09:25] schinckel commented on #220
Ah, looking at the code, it seems that whilst `get_cleaned_data_for_step(step)` doesn't use `get_form_list()`, it uses `get_form`, which does.

[2022-10-01 09:31] schinckel commented on #220
I wonder if it's possible to use a generator that retains knowledge of previous steps: it should be possible for condition_dict to refer to previous steps, but not subsequent steps.

Let me see what I can get to work.

[2022-10-02 10:35] stuaxo commented on #220
Maybe get_cleaned_data_step could be behind lru_cache with maxsize None.

[2022-10-18 19:18] violuke commented on #220
We're also having the same issue

[2022-10-18 19:35] DJJacobs commented on #220
Experiencing the same issue upon update from 2.3 > 2.4. Reverting back to 2.3 for now. Following for updates...

[2022-10-19 07:56] violuke commented on #168
This change has caused a lot of people a problem, see #220, can this be reverted?

[2022-10-19 08:07] violuke commented on #220
The fix of #168 has caused this problem. My understanding is that you should be using the `conditiion_dict` to vary which steps are in the wizard and which are not. I can see why overriding `get_form_list()` would seem like a nice alternative (and maybe simpler to use), but by changing `get_form()` to use `get_form_list()` and solve the request of #168, this makes it impossible to have conditions

[2022-10-19 08:35] spapas commented on #220
I have a different opinion on this. By being able to override the get_form_list you have complete freedom on the list of forms you're going to display in your wizard. See here some example code from a project where a wizard is created dynamically based on some configuration (taken from the PR_ACTION list of dics):

[code]

So I can do something like

[code]

in my urls and create different wizards

[2022-10-19 09:10] schinckel commented on #220
Yeah, the original use case for my patch (and what I've been using as a subclass for many years) was where I needed to _add_ steps dynamically, based upon the submitted data from an earlier step. Specifically, there was a form that needed to be re-used N times, with different initial data.

[2022-10-19 09:55] schinckel commented on #220
So the fix I have (linked in this thread), it "works", but there's not a real way to detect that we have attempted to reference data from a subsequent step (and are inside an infinite recursion), until the Python infinite recursion protection kicks in by running out of stack: at that point we can't recover because, well, we are out of stack.

If there was a neat way of detecting we are in a recurs

[2022-10-19 10:13] stuaxo commented on #220
It probably makes sense to step back and list the places ways the data is referenced at different steps.

[2022-10-27 13:44] knyghty opened #223 "Document how to test form wizards"
It's not immediately clear the best way to do it. as you also need to include stuff from the management form(s).

[2022-10-29 07:25] Arhell opened #226 "update links"
http=>https

[2022-10-30 22:13] #226 closed

[2022-11-08 22:03] Alfareiza opened #229 "Invalid CSRF Fail"
In the process of buidling my multistep form using django-formtools, I've faced with this situation, and I'd like some help or advice to figure out it.

At the moment when I'm doing a POST request call to this view, this message appear. This is is basically a form. You can see in the image that Django suggest add a decorator `{% csrf_protect %}` in all the views that has a `{% csrf_token %}` on th

[2022-11-09 16:58] claudep commented on #229
You should check for "django origin checking failed" in a search engine or find help in Django forums. Your issue is not specifically linked to django-formtools.

[2022-11-09 16:58] #229 closed

[2022-11-11 11:17] tilsche commented on #220
We also have this issue that blocks us from upgrading.

[2022-11-17 17:05] jsma commented on #220
Please revert 533a83053, which introduced a major bug and was not a proper solution for the new feature request (to dynamically add forms that aren't in the initial `form_list`). For those that require this new feature, please provide a working example of your use cases and how you were doing this prior to 2.4. A proper API needs to be created _and tested_ for this new feature request, without bre

[2022-11-20 22:58] mpasternak commented on #95
This problem was reintroduced for me in 2.4 and using ``wizard.storage.current_step`` does not fix it.

[2022-11-21 12:11] violuke commented on #220
@claudep, @felixxm and @hramezani ([I believe you're the Jazzband leads on this project](https://jazzband.co/projects/django-formtools)) would it be possible for someone to review this thread? There was a major breaking change in 2.4 and a solution needs to be found if possible ASAP. Thank you.

[2022-11-21 20:39] schinckel commented on #220
Maybe we should revert the change, and work to find a solution that works later. I just don’t have the time to spend on it now.

[2022-11-21 21:09] martey commented on #220
I'm confused about why people are advocating for this change to be reverted "ASAP". Is there a reason why affected people can't stick with 2.3 until a comprehensive solution for this issue is found?

[2022-11-22 00:12] jsma commented on #220
@martey, it should be reverted because 2.4 is a broken release that breaks real projects and costs people valuable time and money. It's not very reasonable to expect everyone to find out the hard way that 2.4 is broken, find this issue, and then downgrade to 2.3, when reverting could avoid all of that. To be clear, we don't need to come up with a comprehensive solution for the infinite recursion b

[2022-11-22 00:55] schinckel commented on #220
The latter - to come up with a proper solution.

[2022-11-22 01:22] martey commented on #220
@jsma I don't think it's fair to assume that everyone uses django-formtools in the same way, or that everyone is affected by this regression. I think people using `condition_dict` callables that call `get_cleaned_data_for_step` (who are affected by this bug) and people using dynamic forms with `get_form_list` *both* have valid use cases.

This already happened (see #62, #168, #209). The "future re

[2022-11-22 08:03] spapas commented on #220
Hey friends! I'd like to propose a solution to this if I may:

For starters, let's agree that we can't use  `get_form_list` if we also use `get_cleaned_data_for_step` somewhere. I think that makes sense, if we use a dynamic form we may add the *same* step over and over so get_cleaned_data_for_step wouldn't even know what to return!

Now, we'll add a
`FORM_WIZARD_DYNAMIC_FORM_LIST` django setting (

[2022-11-22 08:14] schinckel commented on #220
That's fine, but what if you have a reusable app that does/doesn't, and you use that in your project that has the other setting?

[2022-11-22 08:21] martey commented on #220
I agree that a project-wide Django setting is too broad, but this could be fixed by adding a `dynamic_form_list` variable to `WizardView` that defaults to `False`.

[2022-11-22 10:43] stuaxo commented on #220
This might be an OK compromise - it's hacky, but may be the only sensible way round this.

Is it possible for someone to post the smallest conditional form wizard here, so we can try out solutions ?

[2022-11-22 11:28] fdemmer commented on #220
I propose to not use example projects or code snippets, but actual test code going forward.

To help with that I just opened https://github.com/jazzband/django-formtools/pull/230 which includes a test for using `get_cleaned_data_for_step` in a `condition_dict` callback.

[2022-11-22 15:42] fdemmer commented on #220
I think test improvements are dearly needed in this project; my PR is meant as a general improvement of things not just this issue.

Anyway, for the issue at hand you could pull just this commit: https://github.com/jazzband/django-formtools/pull/230/commits/c6d9eda3c1134c2001cac62472826967858b06c7 ... remove the `skip()` and implement "dynamic_form_list" in a way, that does not break it.

[2022-11-30 15:03] JanMalte commented on #220
A reason could be that version 2.4.0 added official support for django v4

Maybe a version 2.3.1 could be released with the old behaviour and official django v4 support?
So we can pin to `<2.4` until the issue is somehow resolved and upgrade/use django v4.

[2022-11-30 15:38] violuke commented on #220
And in an ideal world, [SemVer](https://semver.org/) would be used so people could understand version numbers and use modern package managers like [Poetry](https://python-poetry.org/) properly. This being a breaking change could then be safely introduced using version 3.0.0 instead of 2.4.0, if it was wanted (not that I'm sure it should be tbh). Having come from other languages to Python in the la

[2022-11-30 17:42] stuaxo commented on #220
OK, so I had a look back at the original PR and a bit of a think -

There are two use cases, one is an API for callers outside the wizard to get a list of forms, and the case where inside get_form we need a list.

If these have separate names we can avoid the issue.

[2022-11-30 20:15] schinckel commented on #220
The original use case was to dynamically inject forms: specifically given the input from step A, run n instances of step B with different data, as “sub-steps”.

[2022-11-30 23:43] stuaxo commented on #220
In that case is it enough to keep it and people use the solution @spapas proposes if people want to overide get_form ?